<header>
    <div id="sp-menu">
      <ul>
        <li><a href="/">トップ</a></li>
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a href="/users/sign_in">ログイン</a></li>
      </ul>
    </div>
 
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
</header>